<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Optional: only include this section if you're overriding the default list -->
    <!-- If you remove this entirely, IIS will use its built-in default document settings -->
    <!-- <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument> -->

    <!-- Prevent directory browsing -->
    <directoryBrowse enabled="false" />

  </system.webServer>
</configuration>
